<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/error.css">
    <link rel="icon" href="data:;base64,=">
    <title>Document</title>
</head>
<body>
  <div class="content">
    <div class="back">
      <div class="err">
        <p>
          {{ if eq . 404 }}
          <div>404 Page Not Found</div>
          {{ else if eq . 405 }}
          <div>Method Not Allowed 405</div>
          {{ else if eq . 400 }}
          <div>400 Bad request </div>
          {{ else if eq . 500 }}
          <div>500 Internal Server Error</div>
          {{ else if eq . 200}}
          <div>Not Found</div>
          {{end}}
        </p>
       <p>
        <a href="/" class="btn">Go home</a>
       </p>
      </div>
    </div>
  </div>
</body>
</html>